.main {
  margin-top: auto;
}

.label {
  background: rgba(255,255,255,.3);
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--color-white);
  padding: 3px;
  display:inline-block;
}

.label.success {
  background: #090;
}

.label.failure {
  background: #900;
}

.reason {
  color: #900;
  margin-bottom: 0.2rem;
  font-size: 0.8rem;
}