.button {
  border: 2px solid;
  cursor: pointer;
  border-radius: var(--border-radius);  
  font-size: 0.8rem;
  padding: 0.6rem;
  font-weight: bold;
}

/* Colours */

.button.primary {
  background: var(--color-primary);
  color: var(--color-white);
  border-color: var(--color-secondary);
}

.button.secondary {
  background: var(--color-white);
  color: var(--color-primary);
  border-color: var(--color-secondary);
}

/* Sizes */

.button.small{
  font-size: 0.8rem;
  padding: 0.7rem;
}

.button.medium{
  font-size: 1.1rem;
  padding: 1rem;
}

.button.large{
  font-size: 1.3rem;
  padding: 1.2rem;
}