.message {
  width:100%;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-top: auto;
  border-top: 2px dotted rgba(0,0,0,.2);
  padding-top: 1rem;
  width: 100%;
}

.message.success {
  color: #090;
}

.message.failure {
  color: #900;
}